<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/app.js"></script>
    <title><%= title %> </title>
</head>
<body>
    <nav>
        <a href="/">Intro</a>
        <a href="/actors">Character</a>
        <a href="/orbs">Orbs</a>
        <a href="/abilities">Abilities</a>
        <a href="/actors">Monsters</a>
<!-- doing an (if not user) for now... Later on make people log in to see the rest of the top maybe... decide on user logic. Probably wrap the whole nav bar in it. -->
        <% if (!user) { %> 

            <a href="/auth/google" class="login">Login</a>
            <% } else { %>
                <!-- <a href="/playerManage" class="login">Players</a>  Stretch goal, add a way for DMs to manage their player permissions. -->
            <% } %> 
    </nav>
    <main>
        <h3>Greetings DM.</h3>
        <h1><%= title %> </h1>