<%- include('./partials/headers/headerlogic') %> 

<h3 class="intro">Welcome to the Hidden Campaign Tool!<br>This tool is designed to allow a DM to customize and track a large amount of statistics for a free form RPG.  
    As a DM you can approve abilities and view all stats for players.  Additional features will allow for abilities to be used on monsters, set up encounters, and much much more.
  The players will be able to view SOME parts of their own character, as well as some information about their abilities.  But they will never have full knowledge of the mechanics.
  This allows players to focus on enjoying the game, and the role playing, without having to worry about min-maxing or any other types of mechanics.</h3>>

<%- include('./partials/headers/footer') %>