<%- include('../partials/headerlogic') %> 

<div class="actorsListLvl1">Available Actors
   <!-- set up an ejsif here that checks the actor user id against the logged in user once there is active user data. -->
    <% actors.forEach(e => { %>
     <a href="/actors/<%= e._id %>" class="actorsListItem"><%= e.name %> </a>
    <% }) %>
</div>

<% if (user) { %>
<% if (user.email==="mattedwards1452@gmail.com") { %>
<a href="/actors/new">Add New Actor</a>
<% } %>
<% } %>

<!-- <iframe src="" frameborder="0"></iframe> -->

<%- include('../partials/footer') %>