<%- include('../partials/headerlogic') %> 
<% if (user) { %>
<% if (user.email==="mattedwards1452@gmail.com") { %>
    <div class="actorFormGrid">
        <form class="newActorsForm" action="/actors" method="POST">
            <label>Name:</label><input type="text" name="name">
            <label>Owner:</label><input type="hidden" name="owner" value="<%= user._id %>">
            <label>Class:</label>
                <select name="class">
                    <option value="Player">Player</option>
                    <option value="NPC">NPC</option>
                    <option value="Monster">Monster</option>
                </select>
            <label>Abilities:</label><p>Add these later</p>
            <label>Items:</label><input type="text" name="items">
            <label>Orbs:</label><p>Add these later</p>
            <label>Strength:</label><input type="number" name="strength">
            <label>Dexterity:</label><input type="number" name="dexterity">
            <label>Constitution:</label><input type="number" name="constitution">
            <label>Intelligence:</label><input type="number" name="intelligence">
            <label>Wisdom:</label><input type="number" name="wisdom">
            <label>Charisma:</label><input type="number" name="charisma">
            <label>BS:</label><input type="number" name="balisticSkill">
            <label>WS:</label><input type="number" name="weaponSkill">
            <label>Fort:</label><input type="number" name="fortitude">
            <label>Ref:</label><input type="number" name="reflex">
            <label>Will:</label><input type="number" name="will">
            <label>Evasion:</label><input type="number" name="evasion">
            <label>MissChance:</label><input type="number" name="missChance">
            <label>Max Wounds:</label><input type="number" name="maxWounds">
            <label>Current Wounds:</label><input type="number" name="currentWounds">
            <label>OS T:</label><input type="number" name="overshieldT">
            <label>OS Max HP:</label><input type="number" name="overshieldMaxHp">
            <label>OS Current HP:</label><input type="number" name="overshieldCurrentHp">
            <label>OS Notes:</label><input type="text" name="overshieldNote">
            <label>Regen:</label><input type="number" name="regen">
            <label>DM Notes:</label><input type="text" name="notesDM">
            <label>Level:</label><input type="number" name="level">
            <label>Injuries:</label><input type="text" name="injuries">
            <label>Max PP:</label><input type="number" name="maxPP">
            <label>Current PP:</label><input type="number" name="currentPP">
            <label>Max BP:</label><input type="maxBP" name="maxBP">
            <label>Current BP:</label><input type="number" name="currentBP">
            <label>Haste:</label><input type="number" name="haste">
            <label>Player Notes:</label><input type="text" name="notesPlayer">
            <input type="submit" value="Add Actor">

        </form>
    </div>


<% } %>
<% } %>
<%- include('../partials/footer') %>